body{
    font-family: 'Roboto';
    color:#212121;
    background-color: #FFFFFF;
    font-size: 14px;
    line-height: 1.14;/*16px*/
    letter-spacing: 0.02em;
}
.flex{
    display: flex;
}
/*обнуление */
h1, h2, h3, h4, h5, h6, p,ul,img,div{
    margin: 0;
    padding: 0;
    border: 0;
}
img{
    display: block;
}
.container{
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.section{
    padding: 94px 0;
}
/*ховаю заголовок для читалок */
.hiden{
    position: absolute;
    white-space: nowrap;
    width: 1px; 
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip:rect(0 0 0 0);
    clip-path:inset(50%);
    margin: -1px;
}
/*для всех*/
a{
    text-decoration:none;  
}
ul{
    list-style: none;
}
.title__text{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}
p{
    color: #757575;
}
/*хедер*/
.color__web{
    color:#2196F3;
}
.color__studio__up{
   color: #000000;
}
.color__studio__down{
   color: #FFFFFF;
}
.header{
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ECECEC;
}
.logo{
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   width: 145px;
   height: 31px;
}
.logo__up{
    padding: 24px 0 25px;
    margin-right: 93px;
}
.nav__style{
    font-weight: 500;
}
.nav__style a{
    display: flex;
    padding: 32px 0;
}
.nav__style li:not(:last-child){
    margin-right: 50px;
}
.nav__style a:hover,
.nav__style a:focus{
    color: #2196F3;
}
.active:visited{
    color: #2196F3;
}
.mail{
    margin-right: 50px;
}
.m__t__style__up{
    color: #757575;
    font-weight: 500;
}
.m__t__style__up:hover, .m__t__style__up:focus {
    color: #2196F3;
}
.contact__up__please{
    margin-left: auto;
    padding: 30px 0; 
    align-items: flex-end;
}
.contact__up__please a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon__m__t{
    margin-right: 10px;
}
/*великий сірий блок*/
.grey__block{
    background-image: linear-gradient(#2F303A66,#2F303A66),url(../img/Img.png);
    background-color: #2F303A;
    background-position: center ;
    background-repeat: no-repeat;
    padding: 200px 0 ;
}
.max__width{
    max-width: 1600px;
    margin:0 auto;
}
.big__text{
    color: #FFFFFF;
    text-align: center;
    line-height: 1.36;
    font-size: 44px; 
    text-transform: uppercase;
    width: 696px;
    display: block;
    margin: auto;margin-bottom: 30px;
}
/*велика кнопка*/
.get__service{
    background-color: #2196F3;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    width: 216px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    cursor: pointer;   
    margin: auto;
    display: block;
}
/*наші переваги блок*/
/*іконки переваги*/
.benefits__div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color:#F5F4FA;
    margin-bottom: 30px;
}
.benefits__ico li:not(:last-child){
    margin-right: 30px;
}
.benefits{
    display: flex;
    justify-content: space-between;
}
.benefits li{
    width: 270px;
}
.benefits__text{
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.benefits__p{
    line-height: 1.71;
    letter-spacing: 0.03em;
}
/*блок на три фотки*/
.photo__block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 94px;
}
/*наша команда*/
.not__realy__white{
    background-color: #F5F4FA;
}
.team__style{
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
.team__style__li{
    overflow: hidden;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team__style__text{
    margin-bottom: 10px; 
    font-weight: 500;
}
.team__name{
    background-color:#FFFFFF;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em; 
    text-align:center;
    padding: 30px 32px
}
.team__style__text , .team__name__p{
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}
.team__name__p{
    margin-bottom: 16px;
}

/* футер */
.grey__blok__down{
    background-color: #2F303A;
    padding: 60px 0;
}
.logo__footer{
    margin-bottom: 20px;
    display: block;
}
.address__style{
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    color: #fff;
}
.m__t__style__down{
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
}
.address__position li:not(:last-child){
    margin-bottom: 9px;
}
/*друга сторінка*/
/*кнопочки*/
.buttons__portfolio{
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}
.buttons__portfolio button:hover, .buttons__portfolio button:focus{
    background-color: #2196F3;
    color:#fff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.buttons__portfolio button{
    background-color:#F5F4FA;
    border: none;
    border-radius: 4px;
    height: 38px;
    padding: 6px 22px;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6px;
    letter-spacing: 0.03em;
    cursor: pointer;
}
.buttons__portfolio li:not(:last-child){
    margin-right: 8px;  
}
/*сітка з портфоліо*/
.portfolio__net li{
    width: 370px;
    flex-basis:calc(100%-6*15px)/3;
    margin: 15px;
}
.portfolio__net{
    display: flex;
    flex-wrap:wrap;
    margin: -15px;
    justify-content: space-between;
}
.portfolio__net p {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}
.portfolio__net h3{
    margin-bottom: 4px;
    text-align: left;
    font-weight: 700;
    font-size: 18px;
    line-height: 2; 
    letter-spacing: 0.06em;
}
.border__not__top{
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}
/***************/
/*стилі іконок*/
svg{
    fill:currentColor;
}
/*іконки мило і тел*/
.icon__m__t:hover, .icon__m__t:focus,
.m__t__style__down:hover, .m__t__style__down:focus {
    color:#2196F3;
}

/*іконки месенджеров*/

.ico__messenger{
    width: 206px; height: 44px;
    display: flex;
    justify-content: space-between;
}
.ico__messenger a{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#afb1b8;
}
.ico__messenger a:hover, .ico__messenger a:focus {
    background-color: #2196F3;
    color:#FFFFFF;
}
/*іконки футер*/
.ico__messenger__down a{
    background: rgba(255, 255, 255, 0.1);
}
.ico__block__place{
    margin-right: 70px;
}
.join{
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    margin-top: 9px;
}
.ico__messenger__down svg{
    color: #FFFFFF;
}
/*іконки кліентів*/
.clients{
    justify-content: space-between;
    align-items: center;
}
.clients__a{
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    width: 170px;height: 92px;
    align-items: center;
    justify-content: center;  
    color:#afb1b8;
}
.clients__a:not(:last-child){
    margin-right: 30px;
}
.clients__a:hover, .clients__a:focus{
    color:#2196F3;border: 1px solid #2196F3;
}
/*друга сторінка*/
.portfolio__net a{
    display: block;
}
.portfolio__net a:hover, .portfolio__net a:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}  
/*dz5*/
/*підписи на фото*/
.photo__block>li{
    position: relative;
}
.label{
    position: absolute;
    width:370px;
    height: 70px;
    bottom:0;
    background-color:#2F303ACC;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
/*модалка*/
.backdrop{
    position: fixed;
    top: 0;left: 0;right: 0;bottom: 0;
    background-color: #00000033;

}
.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}
.modal{
    position: absolute;
    width: 528px;
    height: 581px;
    
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.modal__button{
    border: none;background-color:#FFFFFF;
    position: fixed;
    right: 8px;top: 8px;cursor: pointer;
}
/*анімація 2ст*/
.otstyp{
    padding: 300px;
}
.box{
    position: relative;
    overflow: hidden;
}
.overlay{
    position: absolute;
    box-sizing: border-box;
    padding: 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background-color: #2196F3E5;
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.portfolio__net>li:hover .overlay,
.portfolio__net>li:focus .overlay{
    transform: translateY(-294px);
}
/*чорточки меню***/
.nav__style a{
    position: relative;
}
.nav__style a:hover::after,
.nav__style a:focus::after,
.active::after{
    position: absolute;
    bottom: 0;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
    transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
